body {
  font-family: Poppins, sans-serif;
  color: #000;
  background: radial-gradient(circle 50vw at 100% 0, #ff6147, transparent), radial-gradient(circle 50vw at 20% 25vw, #86b6ff, transparent), linear-gradient(180deg, #3f007e, #502cba 25vw, #a12575 50vw);
  font-weight: 400;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3a3b4f #1a1b2e;
}

a {
  text-decoration: none;
}

.search-container {
  display: flex;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 10px;
  background: white;
}

@media (min-width: 992px) {
  .search-container {
    width: 280px;
  }
}

.search-input {
  border: none;
  padding: 5px 10px;
  flex: 1;
  color: #333;
  background: #fff;
  outline: none;
}

.search-button {
  color: #000;
}

.search-container:focus-visible {
  outline: none;
}

.search-button:active {
  background: white !important;
  border: none !important;
  outline: none !important;
}

.navbar {
  font-weight: 700;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.nav-item {
  position: relative;
  margin: 0 5px;
}

.navbar-nav .nav-link {
  transition: all .3s ease;
  position: relative;
  padding: 5px 10px;
  border-radius: 10px;
}

.navbar-nav .nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-item.active .nav-link {
  background-color: #000;
}

.navbar-nav .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-nav .nav-link span {
  margin-left: 5px;
}

.navbar-brand {
  background: #292b31;
  font-size: 22px !important;
  text-shadow: 1px 1px 6px rgb(17 17 17 / 56%);
  height: 40px;
  line-height: 40px;
  padding: 0 10px !important;
  left: 15px;
  border-radius: 10px;
}

@media (min-width: 992px) {
  #navcol-1 {
    justify-content: end;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    display: grid;
    grid-template-rows: 50px;
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    grid-row: 2;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .search-container, .navbar-nav .nav-link, .nav-item {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .navbar-nav .nav-link {
    padding-left: 10px;
    border-radius: 4px;
  }
}

@media (max-width: 360px) {
  .search-container {
    position: relative;
  }
}

@media (max-width: 360px) {
  .search-button {
    position: absolute;
    right: 0;
    padding: 5px;
  }
}

/* menu categories */

.game-container {
  margin-top: 30px;
}

.nav-categories {
  padding: 5px 0;
  white-space: nowrap;
  width: 100%;
}

nav.greedy {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
}

ul.links {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.links.list-categories {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.links.list-categories li {
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease, color 0.3s ease;
  display: block;
}

.links.list-categories a {
  transition: transform 0.3s ease;
}

.list-categories a {
  float: left;
  display: block;
  text-align: center;
  padding: 2px 9px;
  text-decoration: none;
  border-radius: 22px;
  margin: 8px 18px 8px 0;
  color: #2c3e50;
  background: white;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .095), 0 2px 4px rgba(0, 0, 0, .025), 0 2px 4px rgba(0, 0, 0, .04) !important;
}

.list-categories a:hover, .list-categories a.active {
  background: #ffed33;
}

nav.greedy button {
  padding: 2px 9px;
  text-decoration: none;
  border-radius: 22px;
  border: none;
  margin: 0;
  color: #2c3e50;
  background: white;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .095), 0 2px 4px rgba(0, 0, 0, .025), 0 2px 4px rgba(0, 0, 0, .04) !important;
}

nav.greedy button:focus-visible, nav.greedy button:hover, nav.greedy button:active {
  color: #2c3e50;
  background: white;
  background-color: #ffed33;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: #2c3e50;
  background: white;
  background-color: #ffed33;
}

nav.greedy button::after {
  content: attr(count);
  display: inline-flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #f2f2f2;
  border-radius: 50%;
  font-size: 14px;
  line-height: 14px;
  margin-left: 10px;
}

ul.hidden-links {
  position: absolute;
  background: #fff;
  right: 0;
  top: 100%;
  z-index: 1;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding-left: 0;
  box-shadow: 0 4px 12px 0 rgba(43, 43, 43, 0.1);
  overflow: hidden;
}

ul.hidden-links a {
  color: #2c3e50;
}

ul.hidden-links li {
  padding: 0.6rem 1rem;
  min-width: 220px;
}

ul.hidden-links.hidden, .btn.hidden {
  display: none;
}

ul.hidden-links li:hover, ul.hidden-links li.active {
  background-color: #eee;
}

/* game-container */

h3.heading {
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0;
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  padding: 0px 15px;
  border-radius: 5px;
  font-family: 'Poppins';
  line-height: 40px;
  height: 40px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .095), 0 2px 4px rgba(0, 0, 0, .025), 0 2px 4px rgba(0, 0, 0, .04) !important;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-auto-rows: minmax(120px, auto);
  grid-auto-flow: dense;
  grid-gap: 15px;
}

@media (min-width: 1200px) {
  .grid-layout {
    grid-template-columns: repeat(8, minmax(120px, 1fr));
  }
}

.grid-item {
  border-radius: 10px;
  transition: .5s all !important;
  background: #fff;
  box-shadow: 4px 4px 0px 0px #000;
  padding: 7px;
  position: relative;
  overflow: hidden;
}

.game {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

img.small-thumb {
  width: 100%;
  border-radius: 0;
  transition: .5s all;
}

.grid-layout .title {
  overflow: hidden;
  color: #000;
  background: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  position: absolute;
  bottom: -50px;
  transition: .525s all;
  padding: 0 13px;
  font-size: 15px;
  text-transform: capitalize;
  opacity: 0;
  font-family: poppins;
  width: 103px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 2px #000;
  font-weight: 700;
  left: 50%;
  border-radius: 6px;
}

.grid-item:hover {
  transition: .125s all !important;
  transform: scale(1.1);
  z-index: 50;
}

.game:hover .title {
  opacity: 1;
  bottom: -6px;
  transition: .15s all;
}

.grid-item.big {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

div.desc {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .095), 0 2px 4px rgba(0, 0, 0, .025), 0 2px 4px rgba(0, 0, 0, .04) !important;
}

/* footer */

footer .list-ft {
  padding-left: 0;
  justify-content: center;
  display: grid;
  list-style: none;
  grid-auto-flow: column;
  grid-gap: 0px;
}

@media (max-width: 360px) {
  footer .list-ft {
    grid-auto-flow: row;
    text-align: center;
  }
}

.list-ft li a {
  font-size: 13px;
  padding: 2px 10px;
  position: relative;
  color: white;
}

.list-ft li:last-child a:after {
  width: 0;
}

/* detail */

.game-player {
  background-color: #212234;
  color: white;
  overflow: hidden;
  border-radius: 10px;
}

.game-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.game-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.game-iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

.sidebar .row {
  margin-right: 0;
  margin-left: 0;
}

.sidebar .widget {
  margin-bottom: 20px;
}

h4.widget-title {
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 26px;
  border-bottom: 1px solid #29254f;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #ffffff;
}

.sidebar .list-title {
  padding-left: 3px;
  padding-right: 3px;
}

.sidebar .game {
  margin-bottom: 8px;
  background: #222;
}

.single-info-container {
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .single-info-container {
    flex-direction: column;
    align-items: start;
    margin: 10px 0;
  }
}

@media (max-width: 991px) {
  .header-left {
    margin-bottom: 10px;
  }
}

.header-left {
  display: inline-block;
  flex: 1;
}

h1.single-title {
  font-size: 1.75rem;
  text-transform: capitalize;
}

.single-title {
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 767px) {
  .single-title {
    margin-top: 20px;
    padding-bottom: 10px;
  }
}

.single-icon {
  background-color: #ffcc20;
  margin-right: 10px;
  padding: 8px 16px;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 10px;
  color: #000;
}

.action-btn .single-icon:last-child {
  margin-right: 0;
}

.single-icon i {
  margin-right: 9px;
  color: #000;
}

.single-icon a {
  color: #000;
}

.game-content {
  color: white;
}

.single-description {
  border-top: 1px solid #fff;
  padding-top: 10px;
}

@media (max-width: 767px) {
  .od-md-1 {
    order: 1;
  }
}

@media (max-width: 767px) {
  .od-md-2 {
    order: 2;
  }
}

@media (max-width: 767px) {
  .od-md-3 {
    order: 3;
  }
}

@media (max-width: 767px) {
  .sidebar {
    margin-top: 30px;
  }
}

